body {
	background-color: #e82525;
	color:snow;
}

.box {
	font-family: 'Source Code Pro', monospace;
	background-color: #369682;
	width: 500px;
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 20px 10px 20px 10px;
	border: 2px dashed snow;
	border-radius: 10px;
	margin-top: 30px;
}

ul {
	list-style: none;
	font-size: 20px;
	color: #6de665;
}

a {
	text-decoration: none;
	color: #6de665;
}

@media only screen and (max-width: 600px){
	

.box {

	width: auto;
	text-align: center;
	display: block;
	border: 2px dashed snow;
	border-radius: 10px;
	margin-top: 20px;
}
}
	
